* {
    margin: 0;
    padding: 0;
}

html,body {
    background-color:#0275D8;
    font-family: 'Square721 BT', sans-serif;
}

section#resultados {
    position: absolute;
    display: block;
    top: 2.5%;
    left: 25%;
    width: 50%;
    height: 620px;
    max-height: 620px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
}

section#resultados > h2 {
    color: #0275D8;
    margin-top: 10px;
    text-align: center;
}

nav#back {
    border: none;
    position: absolute;
    top: 2%;
    left: 5%;
}

nav#next {
    border: none;
    position: absolute;
    top: 2%;
    right: 5%;
 } 