* {
    margin: 0;
    padding: 0;
}

html,body {
    background-color: #0275D8;
    background-image: url('../imagens/Gramaticando.png');
}

section#areaForm {
    position: absolute;
    display: block;
    top: 25%;
    left: 25%;
    width: 50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; 
}

form#form {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
}

label {
    font-size: 16pt;
}
input[type=text] {
    height: 60px;
    font-size: 18pt;
}


::-webkit-input-placeholder {
    font-size: 18pt;
}

::-moz-placeholder {
    font-size: 18pt;
}

nav#menu ul li {
    padding: 8px;
}