* {
    margin: 0;
    padding: 0;
    outline: none;
}

html,body {
    background-color:#0275D8;
    font-family: 'Square721 BT', sans-serif;
}

section#areaForm h2 {
    color: #FFF;
    position: absolute;
    top: -18%;
}

section#areaForm {
    position: absolute;
    display: block;
    top: 25%;
    left: 25%;
    width: 50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; 
    box-shadow: 0 8px 5px rgba(0,0,0,.4);
}

form#form {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
}

label {
    font-size: 16pt;
}
input[type=text] {
    height: 60px;
    font-size: 18pt;
}


::-webkit-input-placeholder {
    font-size: 18pt;
}

::-moz-placeholder {
    font-size: 18pt;
}

nav#menu ul li {
    padding: 8px;
}

button.btn-primary {
    border-radius: 42%;
    height: 32px;
}
