* {
    margin: 0;
    padding: 0;
    outline: none;
}

html,body {
     background-color: #0275D8;
     font-family: 'Square721 BT', sans-serif;
     overflow-y: hidden;
}

div#mask-invible {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 900;
}

a#stop {
    font-size: 15pt;
    border: none;
}

header#question {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

header#question p {
    text-align: center;
    color: #036;
}

div#time {
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #0275D8;
    border-radius: 100%;
    right: 26%;
    top: 1%;
    padding: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-shadow: 5px 0 5px rgba(0,0,0,.3);
}

div#time p {
    text-align: center;
    text-indent: -0.1em;
    margin-top: 2px;
    color: #FFF;
    font-size: 18pt;
}

aside#static-left {
    position: absolute;
    display: block;
    width: 250px;
    height: 80%;
    left: 0;
    top: 15%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 999;
}

aside#help-right {
    position: absolute;
    display: block;
    width: 250px;
    height: 80%;
    right: 0;
    top: 15%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 999;
}
 
h2 {
    position: absolute;
    text-indent: 1.8em;
    color:#FFF;
    top: -12%;
}

nav#dados {
  width: 100%;
}

nav#dados ul li {
    text-align: center;
    text-indent: -2.8em;
}

nav#dados ul li a {
    font-size:  14pt;
}

button {
    border-radius: 30% !important;
}

#yes,#not {
    border: none;
}

span {
    font-size: 15pt;
    color: #0275D8;
}

 p.quest {
    font-size: 14pt;
    color: #FFF;
}

p#quest {
    font-size: 11pt;
}

p#textdica {
    color: #204d74;
    margin-top: -5px;
}

section#itens {
    position: absolute;
    display: block;
    left: 25%;
    top: 30%;
    width: 50%;
    z-index: 999;
}

section#itens nav#alernativas ul li a.alter{
    width: 70%;
    border: none;
}

footer#dica {
    position: absolute;
    display: none;
    bottom: -4.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 25%;
    width: 50%;
    height: 50px;
    z-index: 999;
}