* {
    margin: 0;
    padding: 0;
}

html,body {
    background-color: #0275D8;
    background-image: url('../imagens/bg-ranking.png');
    background-repeat: no-repeat;
}

nav#back {
    border: none;
    position: absolute;
    top: 2%;
    left: 5%;
}

section#ranking {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: visible;
}




